extends layout

block content
  div#blockUiOverlay.blockUiOverlayDisabled
  div.container
    div.channelContainer
      div#colChannel2m01.colChannel.colChannel4Cols
        div#channelLabel2m01.channelLabel
          div#channelTriggerMode2m01.channelTriggerMode
          div#channelOperationMode2m01.channelOperationMode WU
          div#channelId2m01.channelId 1
          div#channelName2m01.channelName 51
          div#channelDescription2m01.channelDescription RettD 2m
          div#channelNowSpeaking2m01.channelNowSpeaking.channelNowSpeakingDummy &nbsp;
        div.channelOccupationStatus
          div.channelTransmitStatus
            div#channelTransmitStatus2m01.TransmitInactive
          div.channelReceiveStatus
            div#channelReceiveStatus2m01.ReceiveInactive
        div.channelInteraction
          button#channelListenTo2m01.channelListenTo.ListenToInactive &nbsp;
          button#channelTransmitOn2m01.channelTransmitOn.TransmitOnInactive &nbsp;
      div#colChannel2m02.colChannel.colChannel4Cols
        div#channelLabel2m02.channelLabel
          div#channelTriggerMode2m02.channelTriggerMode
          div#channelOperationMode2m02.channelOperationMode WU
          div#channelId2m02.channelId 2
          div#channelName2m02.channelName 49
          div#channelDescription2m02.channelDescription SanD 2m
          div#channelNowSpeaking2m02.channelNowSpeaking.channelNowSpeakingDummy &nbsp;
        div.channelOccupationStatus
          div.channelTransmitStatus
            div#channelTransmitStatus2m02.TransmitInactive
          div.channelReceiveStatus
            div#channelReceiveStatus2m02.ReceiveInactive
        div.channelInteraction
          button#channelListenTo2m02.channelListenTo.ListenToInactive &nbsp;
          button#channelTransmitOn2m02.channelTransmitOn.TransmitOnInactive &nbsp;
      div#colChannel4m01.colChannel.colChannel4Cols
        div#channelLabel4m01.channelLabel
          div#channelTriggerMode4m01.channelTriggerMode
          div#channelOperationMode4m01.channelOperationMode GU
          div#channelId4m01.channelId 3
          div#channelName4m01.channelName 410
          div#channelDescription4m01.channelDescription RettD FR 4m
          div#channelNowSpeaking4m01.channelNowSpeaking.channelNowSpeakingDummy &nbsp;
        div.channelOccupationStatus
          div.channelTransmitStatus
            div#channelTransmitStatus4m01.TransmitInactive
          div.channelReceiveStatus
            div#channelReceiveStatus4m01.ReceiveInactive
        div.channelInteraction
          button#channelListenTo4m01.channelListenTo.ListenToInactive &nbsp;
          button#channelTransmitOn4m01.channelTransmitOn.TransmitOnInactive &nbsp;
      div#colChannel4m02.colChannel.colChannel4Cols
        div#channelLabel4m02.channelLabel
          div#channelTriggerMode4m02.channelTriggerMode T1K
          div#channelOperationMode4m02.channelOperationMode GU
          div#channelId4m02.channelId 4
          div#channelName4m02.channelName 495
          div#channelDescription4m02.channelDescription KatS FR 4m
          div#channelNowSpeaking4m02.channelNowSpeaking.channelNowSpeakingDummy &nbsp;
        div.channelOccupationStatus
          div.channelTransmitStatus
            div#channelTransmitStatus4m02.TransmitInactive
          div.channelReceiveStatus
            div#channelReceiveStatus4m02.ReceiveInactive
        div.channelInteraction
          button#channelListenTo4m02.channelListenTo.ListenToInactive &nbsp;
          button#channelTransmitOn4m02.channelTransmitOn.TransmitOnInactive &nbsp;
    div.operationContainer
      div.colOperationLeft
        button#pttOperation.pttOperation(disabled="disabled") Senden
      div.colOperationRight
        button#transmitActivationTone1.transmitActivationTone(disabled="disabled") Tonruf 1
        button#transmitActivationTone2.transmitActivationTone(disabled="disabled") Tonruf 2
  div#channelSettingsDialog.channelSettingsDialogDisabled
    h2 Daten von Kanal #[span#channelSettingsDialogChannelId] ändern
    input#channelSettingsDialogFieldChannelInternalName(type="hidden")
    label(for="channelSettingsDialogFieldChannelName") Kanalname/Rufgruppe
    input#channelSettingsDialogFieldChannelName(type="text")
    label(for="channelSettingsDialogFieldChannelDescription") Beschreibung
    input#channelSettingsDialogFieldChannelDescription(type="text")
    label(for="channelSettingsDialogFieldChannelOperationMode") Betriebsmodus
    select#channelSettingsDialogFieldChannelOperationMode(size=1)
      option(value="") kein
      option(value="GU") GU (analog)
      option(value="GO") GO (analog)
      option(value="WU") WU (analog)
      option(value="WO") WO (analog)
      option(value="TMO") TMO (Tetra)
      option(value="DMO") DMO (Tetra)
    label(for="channelSettingsDialogFieldChannelTriggerMode") Tonruf
    select#channelSettingsDialogFieldChannelTriggerMode(size=1)
      option(value="") kein
      option(value="T1K") Tonruf 1 kurz
      option(value="T1L") Tonruf 1 lang
      option(value="T2K") Tonruf 2 kurz
      option(value="T2L") Tonruf 2 lang
    button#channelSettingsDialogButtonSave.buttonGreen Speichern
    button#channelSettingsDialogButtonCancel.buttonRed Abbrechen